.hlt1 {
    color: red;
}

.hlt2 {
    color: orange;
}

.hlt3 {
    color: yellow;
}

.hlt4 {
    color: yellowgreen;
}

.hlt5 {
    color: green;
}

.hlt6 {
    color: cyan;
}

.hlt7 {
    color: blue;
}

.hlt8 {
    color: mediumslateblue;
}

.hlt9 {
    color: purple;
}

.hlt10 {
    color: magenta;
}
