/* for sticky footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 150%;
    padding-top: 40px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

blockquote {
    font-size: 1em;
    border-left: 5px solid #257cfd;
    padding: 1.3em;
}

em {
    background-color: #c4e3f3;
}

.body-content {
    padding-top: 35px;
}

.dropdown-button {
    color: #6a6f74;
    border-color: #6a6f74;
}

.dropdown-button:hover {
    color: #fff;
    background-color: #6a6f74;
    border-color: #6a6f74;
}

.dropdown-item {
    font-size: 1.3em;
    color: #4681d3;

}

.dropdown-item:hover {
    font-size: 1.3em;
    color: #1d63ca;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
}

.image-credit {
    font-size: .8em;
}

.letter-highlight {
    font-size: .9em;
}

.letterpress-display {
    padding-top: 40px;
    background-color: transparent !important;
}

.map-container {
    padding: 5px;
    border-style: groove;
}

.nav-label {
    font-family: 'Amita', cursive;
    font-size: 1.1em;
}

.navbar-brand {
    font-family: 'Amita', cursive;
    font-size: 1.4em;
    color: #257cfd;
}

.navbar-light .navbar-brand {
    color: #257cfd;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #1956b1;
}

.navbar-light .navbar-nav .nav-link {
    color: #257cfd;
}

.navbar-light .navbar-nav .nav-link.active.nav-link {
    color: #257cfd;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #1956b1;
}

.page-item.active .page-link {
    background-color: #3a89fd;
    border-color: #3a89fd;
}

.page-label {
    font-family: 'Amita', cursive;
    font-size: 1.5em;
    padding-top: 30px;
}

.popover-content {
    line-height: 105%;
}

.submit-button {
    color: #fff;
    background-color: #3a89fd;
    border-color: #3a89fd;
}

.submit-button:hover {
    color: #fff;
    background-color: #1956b1;
    border-color: #1956b1;
}

.vertical-bottom {
    display: flex;
    align-items: flex-end;
}

.vertical-center {
    display: flex;
    align-items: center;
}





