/* for sticky footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 150%;
    padding-top: 40px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

a {
    color: #4a74a8;
}

blockquote {
    font-size: 1em;
    border-left: 5px solid #618cb8;
    padding: 1.3em;
}

em {
    background-color: #c4e3f3;
}

.body-content {
    padding-top: 35px;
}

.dropdown-button {
    font-size: 0.8em;
    color: #618cb8;
    border-color: #618cb8;
}

.dropdown-button:hover {
    color: #fff;
    background-color: #618cb8;
    border-color: #618cb8;
}

.dropdown-item {
    font-size: 1.3em;
    color: #618cb8;
    font-weight: bold;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #4a74a8;
}

.dropdown-item:hover {
    color: #4a74a8;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
}

.form-select {
    font-size: 0.8em;
    color: #618cb8;
    border-color: #618cb8;
}

.form-select option {
    color: #618cb8;
}

.image-credit {
    font-size: .8em;
}

.letter-highlight {
    font-size: .9em;
}

.letter-row {
    font-size: 0.85em;
}

.letter-row a{
    text-decoration: none;
}

.letterpress-display {
    padding-top: 40px;
    background-color: transparent !important;
}

.map-container {
    padding: 5px;
    border-style: groove;
}

.nav-label {
    font-family: 'Amita', cursive;
    font-size: 1.3em;
    font-weight: bold;
}

.navbar-brand {
    font-family: 'Amita', cursive;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #618cb8;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #47739e;
}

.navbar-light .navbar-nav .nav-link {
    color: #618cb8;
}

.navbar-light .navbar-nav .nav-link.active.nav-link {
    color: #47739e;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #47739e;
}

.page-item.active .page-link {
    background-color: #618cb8;
    border-color: #618cb8;
}

.page-label {
    font-family: 'Amita', cursive;
    font-size: 1.5em;
    padding-top: 30px;
}

.popover-content {
    line-height: 105%;
}

.submit-button {
    font-size: 0.8em;
    color: #fff;
    background-color: #6690ba;
    border-color: #6690ba;
}

.submit-button:hover {
    color: #fff;
    background-color: #4a74a8;
    border-color: #4a74a8;
}

.vertical-bottom {
    display: flex;
    align-items: flex-end;
}

.vertical-center {
    display: flex;
    align-items: center;
}





