version: "3"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.3.2
    volumes:
    - /usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    environment:
      ES_JAVA_OPTS: "-Xms256m -Xmx256m"
      xpack.security.enabled: "false"
      discovery.type: single-node

  django:
    build: .
    command: sh /code/startup.sh
    volumes:
      - .:/code/
      - .:/db/
    ports:
      - "8000:8000"
    links:
      - elasticsearch
    environment:
      TERM: xterm
