version: "3"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.3
    volumes:
    - /usr/share/elasticsearch7/data
    ports:
      - "9200:9200"
    environment:
      ES_JAVA_OPTS: "-Xms256m -Xmx256m"
      xpack.security.enabled: "false"
      discovery.type: single-node

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.3
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_URL: "http://elasticsearch:9200"
      xpack.security.enabled: "false"

  django:
    build: .
    command: sh /code/startup.sh
    volumes:
      - .:/code/
      - .:/db/
    ports:
      - "8000:8000"
    links:
      - elasticsearch
    environment:
      TERM: xterm
