beautifulsoup4==4.11.1
bokeh==2.4.3
coverage==6.4  # https://github.com/nedbat/coveragepy
Django==3.2.13
django-coverage-plugin==2.0.3  # https://github.com/nedbat/django_coverage_plugin
django-date-extensions==3.1.2
django-environ==0.8.1
django-sslserver==0.22
django-tinymce==3.4.0
elasticsearch==7.17.3
factory-boy==3.1.0  # https://github.com/FactoryBoy/factory_boy
lxml==4.6.5
MarkupSafe==1.1.1
matplotlib==3.3.4
nltk==3.6.7
numpy==1.22.4
pandas==1.1.5
Pillow==9.1.0
requests==2.25.1
six==1.11.0
textblob==0.13.0
urllib3==1.26.5
vaderSentiment==2.5
wordcloud==1.8.1