version: 2.1
jobs:
  build:
    working_directory: ~/letterpress
    docker:
      - image: cimg/python:3.5.10 # every job must define an image for the docker executor and subsequent jobs may define a different image.
        environment:
          ELASTICSEARCH_URL: 'http://elasticsearch:9200/'
      - image: docker.elastic.co/elasticsearch/elasticsearch:5.6.2 # an example of how to specify a service container
    steps:
    - troubleshooting
    - run:
        command: |
          pwd
          ls -al
          ls -al /usr/local/bin
          ls -al /home/circleci
    - checkout  # checkout source code to working directory
    - run: sudo chown -R circleci:circleci /usr/local/bin
    - run: sudo chown -R circleci:circleci /home/circleci/.pyenv/versions/3.5/lib/python3.5/site-packages
    - restore_cache: # restore cached dependencies
        key: pip-env-{{ checksum "requirements/local.txt" }}
    - run:
        command: |  # install dependencies
          pip install -r requirements/local.txt
          pip install coveralls
    - save_cache: # cache installed dependencies
        key: pip-env-{{ checksum "requirements/local.txt" }}
        paths:
          - '/home/circleci/.cache/pip'
          - '/usr/local/bin'
          - '/home/circleci/.pyenv/versions/3.5/lib/python3.5/site-packages'
    - run:
        command: |
          /home/circleci/.pyenv/versions/3.5/bin/python3.5 -m coverage run manage.py test
    - run:
       command: |
          /home/circleci/.pyenv/versions/3.5/bin/python3.5 -m coveralls
