version: 2.1
jobs:
  build:
    working_directory: ~/letterpress
    docker:
      - image: circleci/python:3.10.1-bullseye # Need to use older CircleCI image because newer images (cimg) don't work with GeoDjango
      - image: docker.elastic.co/elasticsearch/elasticsearch:8.2.3
        environment:
          discovery.type: single-node
          xpack.security.enabled: false
          ES_JAVA_OPTS: "-Xms256m -Xmx256m"
    steps:
      - checkout
      - restore_cache: # restore cached dependencies
          key: pip-env-{{ checksum "requirements.txt" }}
      - run:
          name: 'Install geospatial libraries'
          command: |
            sudo apt-get update --allow-releaseinfo-change
            sudo apt-get install -y --no-install-recommends libatlas-base-dev gfortran apt-utils
            sudo apt-get install -y libsqlite3-mod-spatialite gdal-bin
            sudo apt-get install -y libjpeg-dev libturbojpeg-dev
            sudo ln -s /usr/lib/x86_64-linux-gnu/mod_spatialite* /usr/local/lib/
      - run:
          name: 'Install dependencies'
          command: |
            pip install -r requirements.txt
            python -m textblob.download_corpora
            pip install coveralls
      - run: touch letterpress/settings_secret.py
      - save_cache: # cache installed dependencies
          key: pip-env-{{ checksum "requirements.txt" }}
          paths:
            - '/home/circleci/.cache/pip'
            - '/usr/local/bin'
      - run:
          name: 'Linters'
          command: |
            flake8
      - run:
          name: 'Tests'
          command: coverage run manage.py test
      - run:
          name: 'Coveralls'
          command: coveralls
