version: 2.1
jobs:
  build:
    working_directory: ~/letterpress
    docker:
      - image: cimg/python:3.5.10 # every job must define an image for the docker executor and subsequent jobs may define a different image.
        environment:
          ELASTICSEARCH_URL: 'http://elasticsearch:9200/'
      - image: docker.elastic.co/elasticsearch/elasticsearch:5.6.2 # an example of how to specify a service container
    steps:
    - run:
        command: |
          echo "Troubleshooting"
          pwd
          ls -al /home/circleci/.pyenv/versions/3.5.10/lib/python3.5
    - checkout  # checkout source code to working directory
    - run: sudo chown -R circleci:circleci /usr/local/bin
    - run: sudo chown -R circleci:circleci /home/circleci/.pyenv/versions/3.5.10/lib/python3.5/site-packages
    - restore_cache: # restore cached dependencies
        key: pip-env-{{ checksum "requirements.txt" }}
    - run:
        command: |  # install dependencies, modify libgeos.py to avoid error, download data for textblob
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libatlas-base-dev gfortran apt-utils
          sudo apt-get install -y libsqlite3-mod-spatialite gdal-bin
          sudo ln -s /usr/lib/x86_64-linux-gnu/mod_spatialite* /usr/local/lib/
          sudo sed -i 's/ver = geos_version().decode()/ver = geos_version().decode().split(" ")[0]/' /home/circleci/.pyenv/versions/3.5.10/lib/python3.5/site-packages/django/contrib/gis/geos/libgeos.py
          python -m textblob.download_corpora
          pip install -r requirements.txt
          pip install coveralls
    - save_cache: # cache installed dependencies
        key: pip-env-{{ checksum "requirements.txt" }}
        paths:
          - '/home/circleci/.cache/pip'
          - '/usr/local/bin'
          - '/home/circleci/.pyenv/versions/3.5.10/lib/python3.5/site-packages'
    - run:
        command: |
          /home/circleci/.pyenv/versions/3.5.10/bin/python3.5 -m coverage run manage.py test
    - run:
       command: |
          /home/circleci/.pyenv/versions/3.5.10/bin/python3.5 -m coveralls
