<div class="row">
    <div class="form-group col-sm-2">
        <label for="sources">Source</label>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="sources" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Sources
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for source in filter_values.sources %}
                    <div id="sources" class="checkbox">
                        <label>
                            <input type="checkbox" name="source" id="source{{ source.id }}"
                                   value="{{ source.id }}">
                            {{ source }}
                        </label>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="form-group col-sm-2">
        <label for="writers">Writer</label>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="writers" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Writers
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for writer in filter_values.writers %}
                    <div id="writers" class="checkbox">
                        <label>
                            <input type="checkbox" name="writer" id="writer{{ writer.id }}" value="{{ writer.id }}">
                            {{ writer }}
                        </label>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="form-group col-sm-2">
        <label for="start_date">Start date</label>
        <input type="text" class="form-control" id="start_date" name="start_date"
               value="{{ filter_values.start_date }}">
    </div>

    <div class="form-group col-sm-2">
        <label for="end_date">End date</label>
        <input type="text" class="form-control" id="end_date" name="end_date" value="{{ filter_values.end_date }}">
    </div>


    {% if show_search_text %}
        <div class="form-group col-sm-4">
            <label for="search_text">Search text</label>
            <input type="text" class="form-control" id="search_text" name="search_text">
        </div>
    {% elif show_words %}
        <div class="form-group col-sm-2">
            <label for="word1">Word 1</label>
            <input type="text" class="form-control" id="word1" name="word1" value="{{ filter_values.words.0 }}">
        </div>
        <div class="form-group col-sm-2">
            <label for="word2">Word 2</label>
            <input type="text" class="form-control" id="word2" name="word2" value="{{ filter_values.words.1 }}">
        </div>
    {% else %}
        <div class="form-group col-sm-4 hidden"></div>
    {% endif %}


</div>

{% if show_sentiment or sort_by %}
    <div class="row">
        {% if show_sentiment %}
            <div class="form-group col-sm-2">{% include "./sentiment_dropdown.html" %}</div>
        {% endif %}
        {% if sort_by %}
            <div class="form-group col-sm-2">{% include "./sort_by_dropdown.html" %}</div>
        {% endif %}
    </div>
{% endif %}

<div class="row">
    <div class="form-group col-sm-12">
        <input class="btn btn-info" id="search_button" type="button" value="Search"/>
        <input class="btn btn-info {% if not show_export_button %}hidden{% endif %}" id="export_button" type="submit"
               value="Export"/>
    </div>
</div>








