<div class="row">
  <div class="col-xs-8 card card-body bg-light">
    <div class="row">
      <div class="text-end">{{ letter.heading|linebreaks }}</div>
    </div>
    <div class="row">
      <div>{{ letter.greeting|linebreaks }}</div>
    </div>
    <div class="row">
      <div>{{ letter.body|linebreaks }}</div>
    </div>
    <div class="row">
      <div class="text-end">{{ letter.closing|linebreaks }}</div>
    </div>
    <div class="row">
      <div class="text-end">{{ letter.signature|linebreaks }}</div>
    </div>
    <div class="row">
      <div>{{ letter.ps|linebreaks }}</div>
    </div>
  </div>
</div>