<table id = "letters_table" class="table table-condensed table-striped">
    <thead>
    <tr>
        <th class="letters-table-heading col-xs-2">Date</th>
        <th class="letters-table-heading col-xs-3">Writer</th>
        <th class="letters-table-heading col-xs-4">Recipient</th>
        <th class="letters-table-heading col-xs-3">Place</th>
    </tr>
    </thead>
    <tbody>
    {% for letter, highlight, sentiments in search_results %}
        <tr>
            <td><a href ="{% url 'letter_by_id' letter.id %}">{{ letter.list_date }}</a></td>
            <td><a href ="{% url 'letter_by_id' letter.id %}">{{ letter.writer }}</a></td>
            <td><a href ="{% url 'letter_by_id' letter.id %}">{{ letter.recipient }}</a></td>
            <td><a href ="{% url 'letter_by_id' letter.id %}">{{ letter.place }}</a></td>
        </tr>
        {% if highlight %}
        <tr>
            <td colspan="4" class="letter-highlight">{{ highlight|safe }}</td>
        </tr>
        {% endif %}
        {% if sentiments %}
        <tr>
            <td colspan="4">
                {% for sentiment_id, sentiment in sentiments %}
                    <a href ="{% url 'letter_sentiment_view' letter.id sentiment_id %}">{{ sentiment }}</a>
                    {% if not forloop.last %}
                    ,&nbsp;&nbsp;
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endif %}

    {% endfor %}
    </tbody>
</table>