<div class="form-group">
  <label for="sentiments" class="form-label text-nowrap">Sentiment</label>
  <div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-button dropdown-toggle px-4" type="button" id="sentimentsDropdownMenuButton"
            data-toggle="dropdown"
            data-bs-toggle="dropdown" aria-expanded="true">Sentiments
    </button>
    <ul class="dropdown-menu" aria-labelledby="sentimentsDropdownMenuButton">
      {% for sentiment in filter_values.sentiments %}
        <li>
          <div id="sentiments" class="checkbox dropdown-item">
            <label>
              <input type="checkbox" name="sentiment" id="sentiment{{ sentiment.id }}"
                     value="{{ sentiment.id }}">
              {{ sentiment.name }}
            </label>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>