<table id="stats_table" class="table table-condensed table-striped">
    <thead>
    <tr>
        <th class="letters-table-heading col-xs-2">Month</th>
        <th class="letters-table-heading col-xs-1">{{ word1|title }}</th>
        <th class="letters-table-heading col-xs-1">{{ word2|title }}</th>
        <th class="letters-table-heading col-xs-2">{% if show_proportion %}Proportion{% endif %}</th>
        <th class="letters-table-heading col-xs-2">Avg. words per letter</th>
        <th class="letters-table-heading col-xs-2">Total words</th>
        <th class="letters-table-heading col-xs-2">Letters</th>
    </tr>
    </thead>
    <tbody>
    {% for month, word1_count, word2_count, proportion, average, total, num_letters in results %}
        <tr>
            <td>{{ month }}</td>
            <td>{% if word1 %}{{ word1_count }}{% endif %}</td>
            <td>{% if word2 %}{{ word2_count }}{% endif %}</td>
            <td>{% if show_proportion %}{% if proportion > 0 %}{{ proportion|floatformat:"-3" }}{% endif %}{% endif %}</td>
            <td>{{ average|floatformat:"0" }}</td>
            <td>{{ total|floatformat:"0" }}</td>
            <td>{{ num_letters }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>