{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <h5>{{ description }}</h5>
        <div class="row">
            <div class="col-xs-8 well well-lg">
                <div class="row">
                    <div class="pull-right">{{ letter.heading|linebreaks }}</div>
                </div>
                <div class="row">
                    <div>{{ letter.greeting|linebreaks }}</div>
                </div>
                <div class="row">
                    <div>{{ letter.body|linebreaks }}</div>
                </div>
                <div class="row">
                    <div class="pull-right">{{ letter.closing|linebreaks }}</div>
                </div>
                <div class="row">
                    <div class="pull-right">{{ letter.signature|linebreaks }}</div>
                </div>
                <div class="row">
                    <div>{{ letter.ps|linebreaks }}</div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for image in images %}
                {% if forloop.counter == 3 %}
                    <br>
                {% endif %}
                <span>
                {{ image }}
            </span>
            {% endfor %}
        </div>

    </div>


{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}