{% extends "base.html" %}
{% load static %}

{% block content %}
    <link href="{% static 'css/sentiment.css' %}" rel="stylesheet">

    <div class="container">

        <h5>{{ letter }}</h5>

        <h5>Sentiment</h5>
        {% for sentiment, letter in results %}
            <p>{{ sentiment }}</p>
            {% include "snippets/letter_contents.html" %}
        {% endfor %}

        <div class="row">
            {% for image in letter.image_tags %}
                {% if forloop.counter == 3 %}
                    <br>
                {% endif %}
                <span>
                {{ image }}
            </span>
            {% endfor %}
        </div>

    </div>


{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}