{% extends "base.html" %}

{% load static %}
{% block content %}

  <div class="row letterpress-display text-center vertical-center">
    <div class="col col-md-6 col-lg-5">
      <span class="d-block d-lg-none">
        <img src={% static "images/copy-press.png" %} alt="letterpress" height="225"/>
      </span>
      <span class="d-none d-lg-block">
        <img src={% static "images/copy-press.png" %} alt="letterpress" height="325"/>
      </span>

    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <blockquote class="blockquote">
        <strong>letterpress copying</strong>
        <p>
          An early form of document copying by transfer of ink from a freshly written document to a moistened
          sheet of copying paper, using direct contact and pressure
        </p>
      </blockquote>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="image-credit">Copy press image from <a href="https://letterpresscommons.com/">Letterpress Commons</a>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}