{% extends "base.html" %}
{% load static %}
<!-- Override <!DOCTYPE html> -->
{% block doctype %}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% include "snippets/filter.html" %}
    </form>
    <div class="map-container" id="mapdiv">{{ map }}</div>
{% endblock %}
{% block footer %}
    <div class="image-credit">Map markers from <a href="https://mapicons.mapsmarker.com">Map Icons Collection</a></div>
{% endblock %}
{% block scripts %}
    <script src={% static "js/letterpress.js" %} type="text/javascript"></script>
    <script src={% static "js/place_search.js" %} type="text/javascript"></script>
{% endblock %}

</body>
</html>