{% extends "base.html" %}
{% load static %}

{% block content %}
    <link href="{% static 'css/elasticsearch.css' %}" rel="stylesheet">
    <div class="container-fluid">

        <form method="post">
            {% csrf_token %}
            {% include "snippets/filter.html" %}
        </form>


        <div id="pagination-top"></div>
        <div id="letters"></div>
        <div id="pagination-bottom"></div>

    </div>

{% endblock %}

{% block scripts %}
    {% load static %}
    <script src={% static "js/letterpress.js" %} type="text/javascript"></script>
    <script src={% static "js/letter_search.js" %} type="text/javascript"></script>
{% endblock %}