{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="text">Text to analyze</label>
                <textarea id="text" class="form-control" rows="6"></textarea>
            </div>


            <div class="row">
                <div class="col-sm-2">
                    {% include "snippets/sentiment_dropdown.html" %}
                </div>
                <div class="col-sm-2">
                    <input class="btn btn-info" id="submit_button" type="button" value="Submit"/>
                </div>
            </div>
        </form>

        <br>

        <div id="sentiment-results"></div>

    </div>

{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src={% static "js/letters.js" %} type="text/javascript"></script>
    <script src={% static "js/sentiment.js" %} type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#submit_button").click(function () {
                var sentiments = get_selected_sentiments();
                do_text_sentiment(sentiments);
            });
        });
    </script>
{% endblock %}